%h1 Hello #{@user.email}
%p
  You have been assigned to a project. #{@project.name}
%p About Project:
%ul
  %li
    Project Name: #{@project.name}
  %li
    Project Description: #{@project.description}

