<h1>Hello <%= @user.email %> </h1>
<p>
  You have been assigned to a project. <%= @project.name %>
</p>
<p>About Project:</p>
<ul>
<li>
  Project Name: <%= @project.name %>
</li>
<li>
  Project Description: <%= @project.description %>
</li>
</ul>