<p style="color: green"><%= notice %></p>

<% content_for :title, "Projects" %>

<h1>Assigned Projects</h1>


<table class="table" id="projects">
  <thead>
    <tr>
      <th scope="col"><strong>Name</strong></th>
      <th scope="col"><strong>Description</strong></th>
      <th scope="col"><strong>Actions</strong></th>
    </tr>
</thead>
<tbody>
    <% @projects.each do |project| %>
      <%= render project %>
    <% end %>
</tbody>
</table>

<div>
  <%= link_to "New project", new_project_path, :class=>("btn btn-dark") %>
</div>
